.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron{
  padding-top: 5px;
    background-color: #5876a3;
}
.udin{
  position: relative;
    display: inline-block;
    margin: 0 auto ;
    padding: 0 auto;
    font-size: 1rem;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 60px;
    padding-bottom: 50px;
}
li{
  display: block;
  font-family: "AvenirNext", "Lato", "Hirago KakuGothic ProN", Meiryo, sans-serif;
}
.footer{
  padding-top: 30px;
    background-color: #d4d4d4;
}
